html {
  background: #f0f0f0;
}

.menu {
  width: 200px;
  background: #fff;
}

.menu ul {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 20px;
}

.menu li a {
  color: #5583b2;
}

.menu li a:hover {
  color: red;
}

.menu > ul > li > a::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('css_sprites.png');
  background-position: -10px -46px;
  margin-right: 5px;
}

.menu li li a::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('css_sprites.png');
  background-position: -46px -10px;
  margin-right: 5px;
}
