html {
    background: #f0f0f0;
}

.menu {
    width: 200px;
    background: #fff;
}

.menu ul {
    list-style-type: none;
    list-style-image: url(image/minus.gif);
    padding-left: 20px;
    padding-bottom: 20px;
}

.menu li a {
    color: #5583b2;
}

.menu li a:hover {
    color: red;
}

.menu li li {
    list-style-image: url(image/point.gif);
}